#progress {
    position:absolute;
    top: 30px;
    left: 100px;
    margin: 20px;
    width: 300px;
    height: 15px;
  }
  #bar {
      z-index: 1;
      position:absolute;
      top: 0;
    margin: 20px;
    width: 400px;
  }
  #button{
    width: 300px;
    position:absolute;
    top: 90px;
    height: 30px;
    background-color: tomato;
  }
  #count{
    position:absolute;
    scale: 0.9;
    top: 2px;
    left: 43px;
    margin: 30px;
    z-index: 3;
  }
  #totalcount{
    position:absolute;
    margin: 30px;
    top: 1rem;
    left: 25rem;
    color: lightskyblue;

  }
  body{
      background-color:transparent;
      font-family: 'Press Start 2P', cursive;
      color: whitesmoke;
      -webkit-text-stroke: 2px black;

  }
